.loading-animate-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.spinner {
  animation: spin 1s linear infinite;
  color: gray;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
